<div class="container">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" [style.padding-top.vh]="25" fxFlexAlign="center">
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayout.sm="column"
        fxFlexAlign="center"
      >
        <mat-card>
          <mat-card-title [style.text-align]="'center'">
            <img fxHide.xs="true" fxHide.sm="true"
                 src="assets/img/logo.png" width="300" alt="{{'TITLE_SISTEMA_NOME' | i18n}}"
                 title="{{'TITLE_SISTEMA_NOME' | i18n}}">
          </mat-card-title>
          <mat-card-content>
            <form #formLogin="ngForm" (ngSubmit)="onSubmit(usuarioTO, formLogin)" novalidate>
              <div fxLayout="column">
                <mat-form-field>
                  <mat-label>
                    <mat-icon>person</mat-icon>
                    {{'LABEL_LOGIN' | i18n}}</mat-label>
                  <input matInput id="inputUsername" type="text" title="{{'LABEL_LOGIN' | i18n}}"
                         name="login" required [(ngModel)]="usuarioTO.login" autocomplete="off"
                         placeholder="{{'LABEL_INFORME_LOGIN' | i18n}}" maxlength="20">
                  <mat-error validationMessage [submitted]="submitted"></mat-error>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>
                    <mat-icon>key</mat-icon>
                    Senha
                  </mat-label>
                  <input matInput id="inputPassword" type="password" class="form-control"
                         title="{{'LABEL_SENHA' | i18n}}"
                         name="senha" required [(ngModel)]="usuarioTO.senha"
                         placeholder="{{'LABEL_INFORME_SENHA' | i18n}}" maxlength="20">
                  <mat-error validationMessage [submitted]="submitted"></mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" title="{{'LABEL_ENTRAR' | i18n}}">
                  <span>{{'LABEL_ENTRAR' | i18n}}</span>
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
